$font-mainColor:rgb(133, 144, 175);
$quote-box-backColor:rgb(53, 53, 159);
$bgColor:rgb(99, 135, 173);

h1{
    margin:5vw!important;
    color:rgb(216, 216, 216);
    text-align: center;
    font-size: 6vw!important;
}

p{
    font-size: 3vw!important;
}
figcaption, button, a{
    font-size: 2vw!important;
}


.text-end{
    margin: 5vw 2vw 2vw 2vw!important;
}

.footer{
    margin: 2vw;
    font-size: 2vw!important;
    color:lightgrey;
}

p {
display:flexbox;
font-size: 2em;
text-align: center;
color:$font-mainColor;
}

#quote-box{
    border-radius: 10vw;
    width:80%;
    margin: auto;
    color: $font-mainColor;
    background:$quote-box-backColor;
}

.btn-outline-light{
    color:$font-mainColor!important;
    background-color: $quote-box-backColor!important;
    border-color:$font-mainColor!important; /*set the color you want here*/
}

.btn-outline-light:hover{
    color:white!important;
    background-color: $quote-box-backColor!important;
    border-color: #ffffff!important; /*set the color you want here*/
}

:export {
    bgColor: $bgColor;

}